<div class="container mt-4">

  <div class="card shadow">

    <div class="card-body">

      <div class="text-center mb-4">
          <img
            *ngIf="part?.image"
            [src]="'http://localhost:8000/storage/' + part.image"
            class="img-fluid rounded shadow"
            style="
              max-height:200px;
              width:100%;
              object-fit:contain;
          ">

      </div>

      <h3 class="mb-3">
        {{ part?.itemCode }}
      </h3>

      <p>
        <strong>Description:</strong>
        {{ part?.description }}
      </p>

      <p>
        <strong>Part:</strong>
        {{ part?.part }}
      </p>
      <p>
        <strong>Type:</strong>
        {{ part?.type }}
      </p>
      <p>
        <strong>Price:</strong>
        ₱{{ part?.price }}
      </p>

      <p>
        <strong>Available Stock:</strong>
        {{ part?.quantity }}
      </p>

      <hr>

      <div class="mb-3">

        <label class="form-label">
          Quantity To Request
        </label>

        <input
          type="number"
          class="form-control"
          [(ngModel)]="requestQty"
          min="1">

      </div>
      <div class="mb-3">

        <label class="form-label">
          For equipment under warranty, please include the Installation Date, Serial Number, Equipment Type (K3, K5, T1, T2, T2 Plus, Implant), and any other relevant details.
          <small class="text-muted">(Optional)</small>
        </label>

        <textarea
          class="form-control"
          rows="4"
          placeholder="Enter full details"
          [(ngModel)]="notes">
        </textarea>

      </div>

      <div class="d-grid gap-2">

        <button
          class="btn btn-success"
          (click)="requestPart()">

          Request Part

        </button>

        <a
          class="btn btn-primary"
          [routerLink]="['/dashboard']">

          Back

        </a>

      </div>

    </div>

  </div>

</div>
