<div class="container mt-3">

<h3>My Requests</h3>

<table class="table table-bordered">

  <thead>

  <tr>
  <th>Reference Number</th>
  <th>Part</th>
  <th>Qty</th>
  <th>Status</th>
  <th>Date</th>

  </tr>

  </thead>

  <tbody>

  <tr *ngFor="let r of requests">
  <td>
  {{r.reference_number}}
  </td>
  <td>
  {{r.part.description}}
  </td>

  <td>
  {{r.quantity_requested}}
  </td>

  <td>

  <span
  class="badge bg-warning"
  *ngIf="r.status=='pending'">

  Pending

  </span>

  <span
  class="badge bg-success"
  *ngIf="r.status=='approved'">

  Approved

  </span>

  <span
  class="badge bg-danger"
  *ngIf="r.status=='declined'">

  Declined

  </span>

  </td>

  <td>
  {{r.created_at}}
  </td>

  </tr>

  </tbody>

  </table>

</div>
