<div class="container d-flex justify-content-center align-items-center vh-100">

  <div class="card shadow-sm" style="width:100%; max-width:450px;">

    <div class="card-body">

      <h4 class="text-center mb-3">Register User</h4>

      <!-- ALERT -->
      <div *ngIf="message" class="alert" [ngClass]="alertClass">
        {{ message }}
      </div>

      <!-- NAME -->
      <input class="form-control mb-2"
        [(ngModel)]="name"
        placeholder="Username"
      >

      <!-- ADDRESS -->
      <input class="form-control mb-2"
        [(ngModel)]="address"
        placeholder="Address"
      >

      <!-- EMAIL -->
      <input class="form-control mb-2"
        [(ngModel)]="email"
        placeholder="Email"
      >

      <!-- PASSWORD -->
      <input class="form-control mb-2"
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
      >


      <!-- BUTTON -->
      <button class="btn btn-success w-100"
        (click)="register()"
        [disabled]="loading">

        {{ loading ? 'Creating...' : 'Create User' }}

      </button>

    </div>

  </div>

</div>
